sphinx
sphinx_markdown_builder

## theme we load/adapt
pydata_sphinx_theme
numpydoc

## needed for rendering ipython codeblocks
ipython

## needed for TOC
lxml

## NOTE, also install the Bach requirements.txt to make this work



